.cart {

	// .cart__items
	&__items {}

	// .cart__item
	&__item {
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}

	// .cart__footer
	&__footer {
		display: flex;
		gap: rem(20);
		justify-content: space-between;
		padding-top: rem(35);
		padding-bottom: rem(25);

		@media (max-width:$tablet) {
			gap: rem(30);
			flex-direction: column;
		}
	}

	// .cart__promo
	&__promo {}

	// .cart__total
	&__total {}

	// .cart__button
	&__button {
		width: 100%;
	}
}

.item-cart {
	padding-bottom: rem(40);
	border-bottom: rem(1) solid #999;
	display: grid;
	grid-template-columns: rem(144) 1fr auto;
	gap: rem(32);

	@media (max-width:$tablet) {
		grid-template-columns: rem(144) 1fr;
	}

	@media (max-width: em(500)) {
		grid-template-columns: 1fr;
		gap: rem(15);
	}

	// .item-cart__image
	&__image {
		height: rem(144);
		padding: rem(10);
		background-color: $orangeColorLite;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	// .item-cart__body
	&__body {
		flex: 1 1 auto;
		display: grid;
		align-content: start;
		justify-items: start;
	}

	// .item-cart__title
	&__title {
		font-family: "Taviraj", serif;
		font-size: rem(20);
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: $darkColor;

		&:not(:last-child) {
			margin-bottom: rem(2);
		}

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	// .item-cart__old-price
	&__old-price {}

	// .item-cart__price
	&__price {
		font-family: "Taviraj", serif;
		font-size: rem(24);
		line-height: math.div(32, 24);
		font-weight: 600;
		color: $darkColor;

		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}

	// .item-cart__options
	&__options {
		font-family: "Taviraj", serif;
	}

	// .item-cart__info
	&__info {
		align-self: end;
		display: grid;
		justify-items: end;

		@media (max-width:$tablet) {
			grid-column: span 2;
			justify-items: start;
		}

		@media (max-width: em(500)) {
			grid-column: auto;
		}
	}

	// .item-cart__packaging
	&__packaging {
		display: grid;

		&:not(:last-child) {
			margin-bottom: rem(34);

			@media (max-width: em(500)) {
				margin-bottom: rem(20);
			}
		}
	}

	// .item-cart__label
	&__label {
		text-align: right;
		font-family: "Taviraj", serif;
		font-weight: 500;
		line-height: math.div(24, 16);
		letter-spacing: 0.03em;
		color: $darkColor;
		margin-bottom: rem(8);

		@media (max-width:$tablet) {
			text-align: left;
		}
	}

	// .item-cart__actions
	&__actions {
		display: flex;
		align-items: center;

		@media (max-width: em(600)) {
			flex-direction: column;
			align-items: stretch;
			gap: rem(15);
		}
	}

	// .item-cart__quantity
	&__quantity {
		width: rem(120);
		flex: 0 0 rem(120);
		margin-right: rem(19);

		@media (max-width: em(600)) {
			flex: 1 1 auto;
		}
	}

	// .item-cart__total
	&__total {
		font-family: "Taviraj", serif;
		font-size: rem(24);
		line-height: math.div(32, 24);
		font-weight: 600;
		color: $darkColor;
		margin-right: rem(32);
		flex-shrink: 0;
	}

	// .item-cart__delete
	&__delete {
		width: rem(36);
		display: flex;
		justify-content: center;
		align-items: center;
		border: rem(1) solid $orangeColor;
		color: $orangeColor;
		flex: 0 0 rem(36);
		height: rem(36);
		transition: all 0.3s;

		@media (any-hover: hover) {
			&:hover {
				background-color: $orangeColor;
				color: #fff;
			}
		}
	}
}

.options-item-cart {

	// .options-item-cart__label
	&__label {
		font-family: "Taviraj", serif;

		&:not(:last-child) {
			margin-bottom: rem(4);
		}
	}

	// .options-item-cart__value
	&__value {
		line-height: math.div(24, 16);
		color: #555;
	}
}

.promo-cart {
	font-family: "Taviraj", serif;
	font-size: rem(20);
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: $darkColor;

	display: flex;
	align-items: center;
	gap: rem(30);

	@media (max-width:$mobile) {
		flex-direction: column;
		gap: rem(15);
		align-items: stretch;
	}

	// .promo-cart__label
	&__label {
		font-size: rem(20);
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: $darkColor;
	}

	// .promo-cart__line
	&__line {}

	// .promo-cart__input
	&__input {
		width: 100%;
		background: #FFFFFF;
		border: rem(1) solid $darkColor;
		border-radius: 0;
		height: rem(42);
		padding: 0 rem(15);
	}

	// .promo-cart__info
	&__info {
		font-weight: 500;
		color: #01522D;
	}
}

.total-cart {
	font-family: "Taviraj", serif;
	display: flex;
	align-items: center;
	gap: rem(25);

	@media (max-width:$mobile) {
		flex-direction: column;
		align-items: stretch;
		gap: rem(15);
	}

	// .total-cart__label
	&__label {
		font-family: "Taviraj", serif;
		font-size: rem(20);
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: $darkColor;

		@media (max-width:$tablet) {
			flex: 1 1 auto;
		}
	}

	// .total-cart__value
	&__value {
		@media (min-width:$mobile) {
			display: grid;
			justify-items: end;
		}
	}

	// .total-cart__old-price
	&__old-price {
		&:not(:last-child) {
			margin-bottom: rem(4);
		}
	}

	// .total-cart__price
	&__price {
		font-size: rem(24);
		font-weight: 600;
		line-height: 1.33;
		color: $darkColor;
	}
}